/* Стили для для форм и блоков dashboard */
.add-edit-form {
    width: 45vw;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(46, 44, 44);
}

.add-edit-form input[type="text"],
.add-edit-form input[type="number"],
.add-edit-form select {
    width: 100%;
    background: rgb(36, 36, 37);
    color: rgb(52, 56, 61);
    border: 0;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    outline: none;
}

.all_inventory_container,
.all_assignments_container,
.all_purchase_plans_container,
.reports_container,
.all_requests_container {
    width: 90vw;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(46, 44, 44);
}

.all_inventory_container ul li,
.all_assignments_container ul li,
.all_purchase_plans_container ul li,
.reports_container ul li,
.all_requests_container ul li {
    text-align: start;
    margin: 10px 0;
    font-size: 1.1rem;
}

/* Стили, для отображения выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #535353;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #6c6c6c;
}

.dropdown:hover .dropdown-content {
    display: block;
}