<h2>Назначение инвентаря</h2>
<div class="add-edit-form">
  <h3>Закрепить инвентарь за пользователем</h3>
  <form id="assign-inventory-form" method="post">
    <input
      type="number"
      name="user_id"
      placeholder="ID пользователя"
      required
    /><br />
    <input
      type="number"
      name="inventory_id"
      placeholder="ID инвентаря"
      required
    /><br />
    <input
      type="number"
      name="quantity_assigned"
      placeholder="Количество"
      required
    /><br />
    <button class="button auth-form" type="submit">Назначить</button>
  </form>
</div>
<div class="all_assignments_container">
  <h3>Все назначения</h3>
  <ul id="all_assignments"></ul>
</div>
<div id="error-message-assignments" class="error-message"></div>
<script src="{{ url_for('static', filename='js/dashboard_assignments.js') }}"></script>
