<h2>Отчёты</h2>
<div class="reports_container">
  <h3>Список всего инвентаря с указанием количества и состояния</h3>
  <ul id="all_inventory_reports"></ul>
  <h3>Список инвентаря, закрепленного за пользователями</h3>
  <ul id="all_assignments_reports"></ul>
  <h3>Список планов закупок</h3>
  <ul id="all_purchase_plans_reports"></ul>
</div>
<div id="error-message-reports" class="error-message"></div>
<script src="{{ url_for('static', filename='js/dashboard_subsubpage/reports/all_assignments_and_purchases.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard_subsubpage/reports/all_inventory.js') }}"></script>
