<div class="content">
  <nav class="dashboard-nav">
    {% for subpage in pages | selectattr('name', 'equalto', menu) |
    map(attribute='subpages') | list | first | sort(attribute='order') %}

    <a
      class="dashboard-button {% if subsubpage == subpage.name %} active {% endif %}"
      data-menu="{{ menu }}"
      data-subpage="{{ subpage.name }}"
      onclick="loadSubpage('{{ menu }}', '{{ subpage.name }}')"
      >{{ subpage.name }}</a
    >

    {% endfor %}
  </nav>
  <div id="subsubpage-content"></div>
  <div id="error-message" class="error-message"></div>
</div>
