<h2>Заявки</h2>
{% if session['role'] == 'user' %}
<div class="add-edit-form">
  <h3>Создать заявку</h3>
  <form id="create-request-form" method="post">
    <input
      type="number"
      name="inventory_id"
      placeholder="ID инвентаря"
      required
    /><br />
    <input
      type="number"
      name="quantity_requested"
      placeholder="Количество"
      required
    /><br />
    <select name="request_type" required>
      <option value="get">Получить</option>
      <option value="repair">Ремонт</option>
      <option value="replace">Заменить</option></select
    ><br />
    <button class="button auth-form" type="submit">Создать</button>
  </form>
</div>
{% endif %}
<input
  type="text"
  id="searchInput"
  placeholder="Поиск по имени..."
  onkeyup="filterProducts()"
/>
<main id="productContainer">
  <!-- Продукты будут загружаться сюда -->
</main>
<div class="all_requests_container">
  <h3>Все заявки</h3>
  <ul id="all_requests"></ul>
</div>
<div id="error-message-requests" class="error-message"></div>
<script src="{{ url_for('static', filename='js/dashboard_subsubpage/requests/request_create.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard_subsubpage/requests/all_requests.js') }}"></script>
<script src="{{ url_for('static', filename='js/cart_and_filter.js') }}"></script>
<script>
  function loadProducts() {
    fetch("/dashboard/get_all_inventory") // Запрос к Flask
      .then((response) => response.json())
      .then((data) => {
        const container = document.getElementById("productContainer");
        container.innerHTML = ""; // Очищаем контейнер
        data.forEach((product) => {
          const productDiv = document.createElement("div");
          productDiv.classList.add("product");
          let image_element = "";
          if (product.image_type == "0") {
            image_element =
              '<img src="/static/images/no_image.png" alt="No Image" class="imgl" />';
          } else if (product.image_type == "1") {
            image_element = `<img src="/static/images/${product.image}" alt="${product.name}" class="imgl" />`;
          } else if (product.image_type == "2") {
            image_element = `<img src="${product.image}" alt="${product.name}" class="imgl" />`;
          }
          productDiv.innerHTML = `
                       ${image_element}
                     <h2>${product.name}</h2>
                     <p>Цена: ${product.price} руб.</p>
                     <p>Состояние: ${product.state}</p>
                       <button onclick="addToCart('${product.name}', ${product.price})" class = "magazine-button">
                          Добавить в корзину
                      </button>
                                                `;
          container.appendChild(productDiv);
        });
      })
      .catch((error) => console.error("Ошибка загрузки товаров:", error));
  }
  loadProducts();
</script>
