<div class="requests_container">
  <nav class="dashboard-nav">
    <button
      class="dashboard-button"
      onclick="loadSubSubContent('requests', 'all_requests')"
    >
      Все заявки
    </button>
    {% if session['role'] == 'admin' %}
    <button
      class="dashboard-button"
      onclick="loadSubSubContent('requests', 'request_create')"
    >
      Создать заявку
    </button>
    {% endif %}
  </nav>
  <div class="content"></div>
</div>
<script src="{{ url_for('static', filename='js/cart_and_filter.js') }}"></script>
<script src="{{ url_for('static', filename='js/requests.js') }}"></script>
