<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Sign In</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<h1>Sign In</h1>
	<div id="wrapper">
		<form id="signin" method="post" action="{{ url_for('signin') }}" autocomplete="off">
			<input type="text" id="user" name="user" placeholder="username" required />
			<input type="password" id="pass" name="pass" placeholder="password" required />
			<button type="submit"></button>
			<p>Don't have an account? <a href="{{ url_for('register') }}">click here</a></p>
		</form>
	</div>
</body>

</html>