{% extends 'base.html' %} {% block title %}Спортивный магазин{% endblock %} {%
block content %}
<header>
  <h1>Спортивный магазин</h1>
  <input
    type="text"
    id="searchInput"
    placeholder="Поиск по имени..."
    onkeyup="filterProducts()"
  />
</header>
<main id="productContainer">
  <!-- Продукты будут загружаться сюда -->
</main>
<script src="{{ url_for('static', filename='js/cart_and_filter.js') }}"></script>
<script src="{{ url_for('static', filename='js/magazine.js') }}"></script>
{% endblock %}
