{% extends 'base.html' %} {% block title %}Register{% endblock %} {% block
content %}
<h1>Register Form</h1>
<div class="form-wrapper">
  <form id="signin" class="auth-form" method="post" autocomplete="off">
    <input type="text" id="user" name="user" placeholder="username" required />
    <div class="pass-input" style="display: none">
      <input
        type="password"
        id="pass"
        name="pass"
        placeholder="password"
        required
      />
    </div>
    <div class="rep-pass-input" style="display: none">
      <input
        type="password"
        id="rep_pass"
        name="rep_pass"
        placeholder="repeat password"
        required
      />
    </div>

    <button
      type="submit"
      id="RegButton"
      style="display: none"
      class="auth-form button"
    >
      ▶
    </button>
  </form>
  <div id="error-message"></div>
  <div class="success-message" style="display: none"></div>
</div>
<script
  src="{{ url_for('static', filename='js/register__sign_up.js') }}"
  defer
></script>
{% endblock %}
