{% extends 'base.html' %} {% block title %}Dashboard{% endblock %} {% block
content %}
<div class="dashboard-container">
  <h1>Dashboard</h1>
  <div class="menu">
    <!-- Меню навигации -->
    <nav class="dashboard-nav">
      {% for page in pages %}
      <div class="dropdown">
        <button
          class="dashboard-button {% if menu == page.name %}active{% endif %}"
          onclick="loadSubContent('{{page.name}}')"
        >
          {{page.name}}
        </button>
        {% if page.subpages %}
        <div class="dropdown-content">
          {% for subpage in page.subpages | sort(attribute='order') %}
          <a
            class="dashboard-subpage-button"
            onclick="loadSubSubContent('{{page.name}}', '{{subpage.name}}')"
            >{{ subpage.name }}</a
          >
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </nav>
  </div>
  <script src="{{ url_for('static', filename='js/dashboard_menu.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dashboard_subpage/utils.js') }}"></script>

  <div class="content">
    <!-- Контент страницы -->
  </div>
  <a href="{{ url_for('logout') }}">Logout</a>
</div>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
